# Required Python packages get listed here, one per line.
# Reccomended to lock the version number to avoid unexpected changes.

# You can also install packages from a git repository, e.g.:
# git+https://github.com/runpod/runpod-python.git
# To learn more, see https://pip.pypa.io/en/stable/reference/requirements-file-format/

runpod==1.6.2

requests==2.31.0
sounddevice==0.4.6
soundfile==0.12.1
TTS==0.22.0
fastapi==0.110.0
python-multipart==0.0.9
aiofiles==23.2.1